<h2> <%= @category.name %></h2>
<form action="/categories/<%= @category.id %>/edit" method="get">
  <input type="submit" value="Edit Category">
</form>
<p style="color:red;">  WARNING deleting a category will also delete any books associated with that category! </p>
<form action="/categories/<%= @category.id %>/delete" method="post">
  <input type="submit" value="Delete Category">
</form>
<h3> Books in this Category: <%= @books.count %> books found. </h3>
<% @books.each do |book| %>
  <p> Title:  <%= book.name %> </p>
  <p> Author:  <%= book.author_name %> </p>
  <p> Category:  <%= book.category_name %> </p>
  <p>  In stock: <%= book.quantity %> </p>
  <p> Buying cost: £<%= book.buying_cost %> </p>
  <p> Selling price: £<%= book.selling_cost %> </p>
  <p> Markup: <%= book.markup %>% </p>
  <p> Synopsis: <%= book.description %> </p>
  <form action="/books/<%= book.id %>" method="get">
    <input type="submit" value="See book">
  </form>
  <hr />
<% end %>