<h2> All Authors</h2>
<% @books.each do |book| %>
  <p> Title: <%= book.name %></p>
  <p> Author: <%= book.author_name %></p>
  <% if book.quantity.to_i == 0 %>
  <p style="color:red;"> Stock: <%= book.quantity %></p>
    <% elsif book.quantity.to_i <= 5 %>
    <p style="color:orange;"> Stock: <%= book.quantity %></p>
  <% else %>
    <p style="color:green;"> Stock: <%= book.quantity %></p>
    <% end %>
  <p> Buying cost: £<%= book.buying_cost %></p>
  <p> Selling Price: £<%= book.selling_cost %></p>
  <p> Markup: <%= book.markup %>% </p>
  <p> Synopsis: <%= book.description %></p>
  <a href="/books/<%= book.id %>"> See this book </a> <br>
  <a href="/authors/<%= book.author_id %>"> See this author </a>
<hr />
<% end %>