<h2> All Books </h2>
<form action="/books/sorted" method="post">
  <label for="order-select"> Sort by </label>
  <select id="order-select" name="order">
    <option value="none"> None </option>
    <option value="books.name"> Title </option>
    <option value="authors.first_name, authors.last_name"> Author </option>
    <option value="categories.name"> Category </option>
    <option value="quantity"> Stock </option>
    <option value="buying_cost"> Buying Cost </option>
    <option value="selling_cost"> Selling Price </option>
  </select>
  <input type="submit" value="Sort">
</form>

<% @books.each do |book| %>
  <p> Title: <%= book.name %></p>
  <p> Author: <%= book.author_name %></p>
  <p> Category: <%= book.category_name %></p>
  <% if book.quantity.to_i == 0 %>
  <p style="color:red;"> Stock: <%= book.quantity %></p>
    <% elsif book.quantity.to_i <= 5 %>
    <p style="color:orange;"> Stock: <%= book.quantity %></p>
  <% else %>
    <p style="color:green;"> Stock: <%= book.quantity %></p>
    <% end %>
  <p> Buying cost: £<%= book.buying_cost %></p>
  <p> Selling Price: £<%= book.selling_cost %></p>
  <p> Markup: <%= book.markup %>% </p>
  <p> Synopsis: <%= book.description %></p>
<!--  <button><a href="/books/<%#= book.id %>"> See this book</a></button>-->
  <form action="/books/<%= book.id %>" method="get">
    <input type="submit" value="See this book">
  </form>
  <form action="/authors/<%= book.author_id %>" method="get">
    <input type="submit" value="See this author">
  </form>
<hr />
<% end %>