<h2> <%= @book.name %></h2>
<p> Title: <%= @book.name %></p>
<p> Author: <%= @book.author_name %></p>
<p> Stock: <%= @book.quantity %></p>
<p> Buying cost: £<%= @book.buying_cost %></p>
<p> Selling Price: £<%= @book.selling_cost %></p>
<p> Synopsis: <%= @book.description %></p>
<a href="/books/<%= @book.id %>"> See this book </a> <br>
<a href="/authors/<%= @book.author_id %>"> See this author </a>
<hr />
<a href="/books/<%= @book.id %>/edit"> Edit book </a>
<form action="/books/<%= @book.id %>/delete" method="post">
  <input type="submit" value="Delete book">
</form>