<h2> <%= @book.name %></h2>
<p> Title: <%= @book.name %></p>
<p> Author: <%= @book.author_name %></p>
<p> Category: <%= @book.category_name %></p>
<p> Stock: <%= @book.quantity %></p>
<p> Buying cost: £<%= @book.buying_cost %></p>
<p> Selling Price: £<%= @book.selling_cost %></p>
<p> Markup: <%= @book.markup %>% </p>
<p> Synopsis: <%= @book.description %></p>
<form action="/authors/<%= @book.author_id %>" method="get">
  <input type="submit" value="See this Author">
</form>
<form action="/books/<%= @book.id %>/edit" method="get">
  <input type="submit" value="Edit book">
</form>
<form action="/books/<%= @book.id %>/delete" method="post">
  <input type="submit" value="Delete book">
</form>